.d-login {
    height: 100vh;
    .login-content {
      text-align: center;
      width: 300px;
      position: absolute;
      left: 50%;
      margin-left: -150px;
      top: 350px;
        .tip {
          font-size: 16px;
          color: #4197F4;
          width: 115px;
          margin: 0 auto;
          border-bottom: 2px solid #4197F4;
          margin-bottom: 10px;
          padding-bottom: 5px;
       }
      .el-button--primary.is-plain {
        color: #ffffff;
        background: #1890ff;
        border-color: #b3d8ff;
      }
      .el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
        background: #409EFF;
        border-color: #409EFF;
        color: #FFF;
    }
    }
    .d-loginheader {
      height: 342px;
      line-height: 342px;
      background: #4197F4 url(../assets/login.png) no-repeat center 20px;
      text-align: center;
      color: #ffffff;
      .img{
        height: 44px;
        vertical-align: top;
        margin-right: 16px;
        margin-top: 152px;
    
      }
      .title{
        font-size: 33px;
        font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 600;
        position: relative;
        top: 2px;
        margin-bottom: 40px;
        color: #ffffff;
        letter-spacing: 2px;
    
      }
    }
    .footer {
      font-size: 13px;
      font-family: MicrosoftYaHei;
      color: rgba(153, 153, 153, 1);
      position: absolute;
      bottom: 30px;
      width: 100%;
      text-align: center;
    }
  }