.d-login {
    background: url("../assets/login.svg");
    height: 100vh;
    .login-content {
      text-align: center;
      width: 300px;
      position: absolute;
      left: 50%;
      margin-left: -150px;
      top: 200px;
    }
    .d-loginheader {
      text-align: center;
      width: 500px;
      line-height: 40px;
      position: absolute;
      left: 50%;
      margin-left: -250px;
      top: 100px;
      font-size: 24px;
      .tip {
        font-size: 14px;
        color: #008af1;
        width: 93px;
        margin: 0 auto;
        border-bottom: 1px solid #008af1;
      }
    }
    .footer {
      font-size: 13px;
      font-family: MicrosoftYaHei;
      color: rgba(153, 153, 153, 1);
      position: absolute;
      bottom: 30px;
      width: 100%;
      text-align: center;
    }
  }