html, body, div, p, a{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-family: Microsoft YaHei;
}
.el-header{
   background-color: #1F4380;
   color: #FFFFFF;
   line-height: 50px;
   padding: 0 0 0 20px;
}
.el-main{
   background:rgb(232,236,240);
//    overflow: visible;
}
.el-main::-webkit-scrollbar {
    width: 7px;
    height: 1px;
}
.el-main::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #7A7973;
}
.el-main::-webkit-scrollbar-track {
    border-radius: 7px;
    background: transparent;
}
.el-footer{
    background-color: #efeaef;
    text-align: center;
}
.el-aside{
    background:linear-gradient(180deg,rgba(19,30,73,1) 0%,rgba(13,18,46,1) 100%) !important;
    overflow: hidden;
    // padding-bottom: 9999px;
    // margin-bottom: -9999px; 
}
.d-content{
    border: 1px solid #ffffff;
    background-color: #ffffff;
    position: relative;
    .d-left{
        position: absolute; top:0; left:0;
        width: 240px;
        height: auto;
        background: #ffffff;
        padding: 10px;
        border: 1px solid #eeeeee;
        min-height: 250px;
    }
    .d-right{
        margin-left: 300px;
    }
}
.el-table th{
    height:36px;
    background:rgba(242,242,242,1);
    border:1px solid rgba(233,233,233,1);
    border-left:none;
    border-right:none;
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:36px;
}
.el-table .operator{
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:#31A1F4;
    line-height:36px;
    border: none;
    padding: 3px;
    cursor: pointer;
}
.el-table td{
    height: 36px;
    line-height: 36px;
    border-bottom:1px solid rgba(233,233,233,1);
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.el-table tr:nth-child(2n){
    background:rgba(249,249,249,1) !important;
}
.el-table tr{
    background:rgba(255,255,255,1);
}
// 分页
.d-pagination{
    padding: 15px 0px;
    text-align: right;
    .el-pagination .el-select .el-input {
        width: 80px;
        margin: 0 5px;
    }
    .el-pagination__jump {
        margin-left: 0px;
    }
    button{
        width:28px;
        height:28px;
        background:rgba(255,255,255,1);
        border:1px solid rgba(217,217,217,1);
        padding: 0px !important;
    }
    ul{
        margin-right: 8px;
        .active{
            color: #ffffff;
            background:rgba(0,138,241,0.5);
            border-color: rgba(0,138,241,0.5);
        }
    }
    li{
        width:28px;
        height:28px;
        background:rgba(255,255,255,1);
        border:1px solid rgba(217,217,217,1);
        margin-left: 8px;
        font-size:12px;
        font-family:HelveticaNeue;
        color:rgba(102,102,102);
        min-width: 28px !important;
        padding: 0px !important;
    }
    .el-pager li.active+li {
        border:1px solid rgba(217,217,217,1) !important;
    }
}
// 搜索
.search{
    // height: 60px;
    // border: 1px solid #ff0000;
    padding: 10px 14px;
    .el-input__inner{
        height: 32px;
        line-height: 32px;
    }
    .el-form-item{
        margin-bottom: 0px;
    }
    .el-input__icon{
        line-height: 32px;
    }
    .el-icon-date{
        line-height: 27px;
    }
}
// 模态框
.el-dialog__header{
    text-align: center;
    background: linear-gradient(180deg,rgba(19,30,73,1) 0%,rgba(13,18,46,1) 100%);
    .el-dialog__headerbtn .el-dialog__close {
        color: #ffffff;
    }
}
.el-dialog__title {
    line-height: 20px;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: #ffffff;
}
.el-dialog__body{
    .el-input__inner{
      height: 36px;
   }
   .el-input__icon{
    line-height: 36px;
  }
}

// 字体描述性文字样子
.d-desc{
    font-size:13px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:36px;
}
.el-button--danger{
    background:rgba(234,237,241,1) !important;
    font-family:MicrosoftYaHei !important;
    color:rgba(102,102,102,1) !important;
    border: none !important;
}
.el-button--danger:hover{
    background:rgba(234,237,241,0.7) !important;
}
.el-menu--vertical{
    .el-menu{
        background-color: #303133 !important;
    }
}
// 自定义tab标签
.d-tabs{
    margin-bottom: 8px;
    background-color: rgb(232,236,240);
    margin-left: -1px;
    margin-top: -1px;
    .el-button{
        border: none;
        font-size: 14px;
    }
    .d-active{
        span{
            font-size:14px;
            font-family:MicrosoftYaHei;
            color:rgba(0,138,241,1); 
        }
       
    }
}
